@import url("style.css");

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.home-ads{
    height: 65vh;
}

.small{
    height: 65vh;
}

.home-ads{
    height: 60vh;
}

.navbar {
    text-transform: capitalize;
}
